@import '../container/Layout/_Layout.scss';
@import '../container/Header/Header.scss';
@import '../container/Announcement/Announcement.scss';

body{
    margin: 0;
/*     background-color: brown; */
font-family: "DIN Next",sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    background: #f1f1f1;
    line-height: 1.65;
}

.visual-banner-main {
    background-image: url("https://images.pexels.com/photos/56030/pyrite-pyrites-mineral-sulfide-56030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); }